:root {
  --primary: #2175f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #efefef;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  overflow: hidden;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 860px;
}

.shoeBackground {
  width: 50%;
  height: 475px;
  position: relative;
  box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1), 0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
}

.gradients {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
}

.first {
  z-index: 0;
  animation: 1s width ease;
}

@keyframes width {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.second {
  z-index: -1;
}

.gradient[color="blue"] {
  background-image: linear-gradient(45deg, #0136af, #22abfa);
}
.gradient[color="red"] {
  background-image: linear-gradient(45deg, #d62926, #ee652f);
}
.gradient[color="green"] {
  background-image: linear-gradient(45deg, #11998e, #1ce669);
}
.gradient[color="orange"] {
  background-image: linear-gradient(45deg, #fc4a1a, #f7b733);
}
.gradient[color="black"] {
  background-image: linear-gradient(45deg, #111, #666);
}

.logo {
  position: absolute;
  width: 100px;
  left: 20px;
  top: 20px;
}

.share {
  top: 15px;
  right: 15px;
  position: absolute;
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--primary);
  transition: 0.5s;
}

.share:hover {
  transform: scale(1.1);
}

.share i {
  line-height: 50px;
}

.nike {
  position: absolute;
  top: 80px;
  left: 15px;
  font-size: 11rem;
  text-transform: uppercase;
  line-height: 0.9;
  color: white;
  opacity: 0.1;
}

.shoe {
  position: absolute;
  width: 140%;
  opacity: 0;
  bottom: 0;
  right: 0;
  transform: rotate(-20deg);
}

.shoe.show {
  opacity: 1;
}

.info {
  width: 50%;
  background-color: white;
  z-index: 1;
  padding: 35px 40px;
  box-shadow: 15px 0 35px rgba(0, 0, 0, 0.1), 0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
}

.shoeName {
  padding: 0 0 10px 0;
}

.shoeName div {
  display: flex;
  align-items: center;
}

.shoeName div .big {
  margin-right: 10px;
  font-size: 2rem;
  color: #333;
  line-height: 1;
}

.shoeName div .new {
  background-color: var(--primary);
  text-transform: uppercase;
  color: white;
  padding: 3px 10px;
  border-radius: 5px;
}

.shoeName .small {
  font-weight: 500;
  color: #444;
  margin-top: 3px;
  text-transform: capitalize;
}

.shoeName,
.description,
.color-container,
.size-container {
  border-bottom: 1px solid #dadada;
}

.description {
  padding: 10px 0;
}

.title {
  color: #3a3a3a;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.text {
  color: #555;
  font-size: 17px;
}

.color-container {
  padding: 10px 0;
}

.colors {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 10px;
  border: 5px solid;
  cursor: pointer;
  transition: 0.5s;
}

.color[color="blue"] {
  background-color: #2175f5;
  border-color: #2175f5;
}

.color[color="red"] {
  background-color: #f84848;
  border-color: #f84848;
}

.color[color="green"] {
  background-color: #29b864;
  border-color: #29b864;
}

.color[color="orange"] {
  background-color: #ff5521;
  border-color: #ff5521;
}

.color[color="black"] {
  background-color: #444;
  border-color: #444;
}

.color.active {
  border-color: white;
  transform: scale(1.1);
  box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.2);
}

.size-container {
  padding: 10px 0;
  margin-bottom: 20px;
}

.sizes {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.size {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #eee;
  margin: 0 10px;
  text-align: center;
  line-height: 40px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.size.active {
  background-color: var(--primary);
  color: white;
}

.buy-price {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  color: #333;
  display: flex;
  align-items: flex-start;
}

.price h1 {
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 1;
}

.price i {
  font-size: 1.4rem;
  margin-right: 1px;
}

.buy {
  padding: 0.7rem 1rem;
  background-color: var(--primary);
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.1rem;
  transition: 0.5s;
}

.buy:hover {
  transform: scale(1.1);
}

.buy i {
  margin-right: 2px;
}

@media (max-width: 1000px) {
  .card {
    flex-direction: column;
    width: 100%;
    box-shadow: 0 0 35px 0 1px rgba(0, 0, 0, 0.2);
  }
  .card > div {
    width: 100%;
    box-shadow: none;
  }
  .shoe {
    width: 100%;
    transform: rotate(-5deg) translateY(-50%);
    top: 55%;
    right: 2%;
  }
  .nike {
    top: 20%;
    left: 5%;
  }
}

@media (max-width: 600px) {
  .share {
    width: 40px;
    height: 40px;
  }

  .share i {
    font-size: 1rem;
    line-height: 40px;
  }

  .logo {
    width: 70px;
  }
}

@media (max-width: 490px) {
  .nike {
    font-size: 7rem;
  }
  .shoeName div .big {
    font-size: 1.3rem;
  }
  .small {
    font-size: 1rem;
  }
  .new {
    padding: 2px 6px;
    font-size: 0.9rem;
  }
  .title {
    font-size: 0.9rem;
  }
  .text {
    font-size: 0.8rem;
  }
  .buy {
    padding: 0.5rem 0.8rem;
    font-size: 0.8rem;
  }
  .price h1 {
    font-size: 1.5rem;
  }
  .price i {
    font-size: 0.9rem;
  }
  .size {
    width: 30px;
    height: 30px;
    margin: 0 8px;
    font-size: 0.9rem;
    line-height: 30px;
  }
  .color {
    margin: 0 6px;
    width: 20px;
    height: 20px;
    border-width: 4px;
  }
  .share {
    width: 35px;
    height: 35px;
    top: 10px;
    right: 10px;
  }
  .share i {
    font-size: 0.8rem;
    line-height: 35px;
  }
  .log {
    width: 60px;
    top: 10px;
    left: 10px;
  }
  .info {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .buy i {
    display: none;
  }
  .container {
    padding: 20px;
  }
}
